.App-logo{
    width: 220px;
    height: 290px;
}

.App-logoo{
    width: 35px;
    height: 50px;
}

.App-member{
    width: 160px;
    height: 150px;
}

.App-paket{
    width: 170px;
    height: 150px;
}

.App-transaksi{
    width: 250px;
    height: 150px;
}

.card-body{}